---
# tasks freebsd_nagios

- name: Import debug.yml
  ansible.builtin.import_tasks: debug.yml
  when: bsd_nagios_debug | bool
  tags: [bsd_nagios_debug, always]

- name: Import pkg.yml
  ansible.builtin.import_tasks: pkg.yml
  when: bsd_nagios_install | bool
  tags: bsd_nagios_pkg

- name: Import conf.yml
  ansible.builtin.import_tasks: conf.yml
  tags: bsd_nagios_conf

- name: Import nsca.yml
  ansible.builtin.import_tasks: nsca.yml
  tags: bsd_nagios_nsca

- name: Import nrpe.yml
  ansible.builtin.import_tasks: nrpe.yml
  tags: bsd_nagios_nrpe

- name: Import rcconf.yml
  ansible.builtin.import_tasks: rcconf.yml
  tags: bsd_nagios_rcconf

- name: Import actions.yml
  ansible.builtin.import_tasks: actions.yml
  tags: bsd_nagios_actions

- name: Import audit.yml
  ansible.builtin.import_tasks: audit.yml
  when: bsd_nagios_audit | bool
  tags: bsd_nagios_audit

# EOF
